name: CI

on: pull_request

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Lint code
        shell: pwsh
        run: ./.github/scripts/Assert-Linting
      - name: Test code
        env: 
          GITHUB_CLIENT_SECRET: ${{secrets.GITHUB_CLIENT_SECRET}}
          GITHUB_TENANT: ${{secrets.GITHUB_TENANT}}
        shell: pwsh
        run: ./.github/scripts/Assert-Tests